<form id="signUpForm" method="POST" action="../API/login.php" style="display: none;">  
    <h2>Sign Up</h2>  
        <div class="mb-3">  
            <label for="newUsername" class="form-label">Username</label>  
            <input type="text" class="form-control" id="newUsername" name="newUsername" placeholder="Create a username">  
        </div>  
        <div class="mb-3">  
            <label for="newPassword" class="form-label">Password</label>  
            <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Create a password">  
        </div>  
        <div class="mb-3">  
            <label for="comfirmPassword" class="form-label">Confirm Password</label>  
            <input type="password" class="form-control" id="comfirmPassword" name="comfirmPassword" placeholder="Confirm your password">  
        </div>  
        <button type="submit" class="btn btn-success">Sign Up</button>  
        <p class="switch-link">Already have an account? <a href="#" id="switchToSignin">Sign In</a></p>  
</form>  